:root {
    --primary-color: rgba(231, 108, 31, 1);
    --secondary-color: rgb(134, 62, 2);
    --third-color: rgba(253, 234, 220, 1);
    --font-color-white: rgba(255, 255, 255, 1);
    --palanquin: 'palanquin';
}

.header {
    background-color: var(--primary-color);
    padding-inline: 60px;
}

.logo {
    height: 50px;
}

.big-img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 500px;
}

.color {
    color: var(--primary-color);
}

.header-icon {
    position: absolute;
    top: 520px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 13px solid var(--third-color);
}

.logo-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 128px;
}

.menu-btn {
    background-color: var(--primary-color);
    border-style: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.menu-btn:hover {
    background-color: var(--secondary-color);
}

.menu-btn:active {
    background-color: var(--third-color);
}

.display {
    display: flex;
    font-weight: 700;
    font-size: 48px;
    justify-content: center;
    align-items: center;
}

.gap {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
}

.underline {
    font-weight: bold;
    font-size: 24px;
    font-family: var(--palanquin);
    text-align: center;
}

.menu-bg {
    background-color: var(--primary-color);
    height: 60px;
    margin-top: 120px;
    padding-inline: 160px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.menu-headline {
    color: var(--font-color-white);
    font-family: var(--palanquin);
    font-weight: 700;
    font-size: 40px;
}

.menu-box {
    display: flex;
    gap: 8px;
    background-color: var(--third-color);
    height: 140px;
    width: 715px;
    border-radius: 12px;
    margin-top: 24px;
    margin-left: 120px;
    padding: 16px;
}

.menu-box-head {
    font-family: var(--palanquin);
    font-weight: 600;
    font-size: 24px;
}

.menu-box-underline {
    font-family: var(--palanquin);
    font-weight: 500;
    font-size: 16px;
}

.menu-info-box {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    height: 135px;
    width: 470px;
    padding-left: 32px;
}

.add-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 115px;
}

.footer-info {
    padding-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 72px;
}

.footer-font {
    color: var(--font-color-white);
    font-family: var(--palanquin);
    font-size: 18px;
    font-weight: 400;
}

.display-none {
    display: none;
}

.basket-layout {
    height: 795px;
    width: 435px;
    background-color: rgba(54, 53, 52, 1);
    position: fixed;
    top: 370px;
    right: 0;
    border-radius: 24px 0 0 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.basket-headline {
    color: var(--third-color);
    font-family: var(--palanquin);
    font-weight: 700;
    font-size: 32px;
    margin-top: 10 px;
}

.empty-basket-info {
    color: var(--third-color);
    font-family: var(--palanquin);
    font-size: 24px;
    font-weight: 500;
    display: flex;
    text-align: center;
    padding-top: 40px;
    width: 380px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    height: 500px;
    width: 340px;
    scroll-behavior: smooth;
    scrollbar-color: var(--third-color) rgba(54, 53, 52, 1);
    scrollbar-width: thin;
}

.empty-basket-icon {
    height: 120px;
    width: 120px;
    margin-top: 100px;
}

.basket-food-box {
    background-color: var(--third-color);
    width: 300px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    border-radius: 16px;
    margin-top: 16px;
}

.basket-name {
    font-family: var(--palanquin);
    font-size: 22px;
    font-weight: 700;
    width: 300px;
    height: 50px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 30px;
}

.amount {
    font-family: var(--palanquin);
    font-size: 24px;
    font-weight: 600;
    margin-top: -5px;
}

.basket-price {
    font-family: var(--palanquin);
    font-weight: 700;
    font-size: 22px;
}

.total-table {
    width: 340px;
}

.line {
    border: 1px solid white;
    width: 340px;
    background-color: white;
    border-radius: 16px;
}

.dialog-img {
    height: 100px;
    width: 100px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.dialog-head {
    font-family: var(--palanquin);
    font-size: 42px;
    font-weight: 700;
    color: var(--third-color);
}

.dialog-under {
    font-family: var(--palanquin);
    font-size: 42px;
    font-weight: 700;
    color: var(--third-color);
}

.display-position {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}