:root {
    --primary-color: rgba(231, 108, 31, 1);
    --secondary-color: rgb(134, 62, 2);
    --third-color: rgba(253, 234, 220, 1);
    --font-color-white: rgba(255, 255, 255, 1);
    --palanquin: 'palanquin';
}

.add-btn {
    font-family: var(--palanquin);
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    border-style: hidden;
    width: 110px;
}

.add-btn:hover {
    color: var(--primary-color);
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
    animation-timing-function: ease-in;
    animation-duration: 200ms;
}

.price {
    text-align: end;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--palanquin);
    margin: 0;
}

.menu-img {
    height: 140px;
    width: 220px;
    border-radius: 12px;
    object-fit: cover;
}

.menu-icon {
    margin-top: -15px;
}

.star {
    height: 23px;
    width: 24px;
}

.background {
    background-color: rgba(250, 202, 172, 1);
    border-radius: 4px;
    padding-inline: 5px;
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 8px;
}

.increase-btn {
    background-color: var(--third-color);
    border-style: hidden;
    height: 24px;
    width: 24px;
}

.increase-btn:hover {
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
    height: 24px;
    width: 24px;
    border-radius: 8px;
    background-color: white;
}

.delete-btn {
    background-color: var(--third-color);
    border-style: hidden;
    height: 24px;
    width: 24px;
}

.nav-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.hover {
    height: 18px;
    width: 16px;
}

.icon.hover {
    display: none;
}

.delete-btn:hover .icon.default {
    display: none;
}

.delete-btn:hover .icon.hover {
    display: inline;
    background-color: white;
    padding: 2px;
    border-radius: 4px;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.buy-btn {
    width: 340px;
    height: 64px;
    border-radius: 60px;
    border-style: hidden;
    font-family: var(--palanquin);
    font-size: 32px;
    font-weight: 700;
    background-color: var(--primary-color);
    color: white;
    margin-top: 16px;
}

.position-close-btn {
    display: flex;
    justify-content: end;
}

.close-btn {
    border-style: hidden;
    background-color: rgba(54, 53, 52, 1);
    font-size: 16px;
}