/* responsive at 1050px for IPad Pro */
@media (min-width: 2000px) {
    .basket-layout {
        border-radius: 24px;
        right: calc((100vw - 1440px) / 2);
    }
}

@media (max-width: 1270px) {
    .hide {
        display: none;
    }

    .logo-btn {
        padding-inline: 50px;
    }

    .hide-quantity {
        display: none;
    }

    .padding-left {
        padding-left: 0;
        display: flex;
        justify-content: center;
    }

    .display-none {
        display: block;
    }

    .hide-quantity {
        display: none;
    }
}

/* responsive at 770px for IPad */
@media (max-width: 770px) {
    .header {
        width: stretch;
    }

    .padding-left {
        display: block;
    }

    .menu-icon {
        margin-top: -108px;
    }

    .headline {
        padding-top: 50px;
    }

    .hide-quantity {
        display: none;
    }

    .display-none {
        display: block;
    }

    .basket-layout {
        border-radius: 16px 0 0 16px;
        top: 60px;
        padding: 8px;
    }

    .menu-btn {
        display: none;
    }

    .big-img {
        height: 365px;
        width: stretch;
    }

    .header-icon {
        height: 120px;
        width: 120px;
        top: 290px;

    }

    .gap {
        flex-direction: column;
        gap: 0;
    }

    .underline {
        margin: 20px;
    }

    .menu {
        margin-top: 80px;
    }

    .menu-headline {
        margin: 0;
        position: absolute;
        font-size: 40px;
    }

    .menu-bg {
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-top: 110px;
    }

    .menu-underline {
        font-size: 32px;
        color: white;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        padding-bottom: 12px;
        padding-top: 12px;
        background-color: var(--primary-color);
        width: stretch;
    }

    .menu-box {
        display: flex;
        gap: 16px;
        margin: 16px;
        padding: 8px;
        width: auto;
        flex-direction: column;
    }

    .menu-img {
        width: auto;
    }

    .menu-info-box {
        flex-direction: column;
        width: auto;
        padding-left: 0;
    }

    .add-box {
        width: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .mobile-nav-bar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba(54, 53, 52, 1);
        width: stretch;
        height: 80px;
    }

    .position-sticky {
        position: sticky;
        bottom: 0;
        width: stretch;
    }

    .mobile-basket-quantity {
        color: var(--primary-color);
        position: absolute;
        margin-top: -7px;
        margin-left: -4px;
    }

    .mobile-quantity-bg {
        height: 15px;
        width: 15px;
        background-color: var(--third-color);
        border-radius: 50%;
        position: absolute;
        margin-top: -36px;
        margin-left: 16px;
    }

    .mobile-basket-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        overflow-x: hidden;
        height: 380px;
        width: 350px;
        scroll-behavior: smooth;
        scrollbar-color: var(--third-color) rgba(54, 53, 52, 1);
        scrollbar-width: thin;
    }
}

/* responsive at 450px for Mobile */
@media (max-width: 590px) {

    .price {
        font-size: 24px;
    }

    .menu-icon {
        height: 60px;
        width: 58px;
        position: absolute;
        margin-top: -85px;
    }

    .menu-img {
        width: auto;
        height: 88px;
        border-radius: 12px;
    }

    .bg-color {
        background-color: rgba(54, 53, 52, 1);
    }

    .basket-layout {
        border-radius: 0;
        top: 0;
        padding: 0;
        width: stretch;
        height: 587px;
    }

    .order-confirmed {
        padding: 18px;
        width: 300px;
    }

    .dialog-under {
        font-size: 24px;
    }

    .dialog-head {
        font-size: 36px;
    }

    .logo {
        height: 35px;
        width: 90px;
    }

    .menu-btn {
        display: none;
    }

    .header-icon {
        height: 120px;
        width: 120px;
        position: absolute;
        left: 50%;
    }

    .display {
        font-size: 28px;
        display: flex;
    }

    .gap {
        flex-direction: column;
        gap: 0;
    }

    .menu {
        margin-top: 80px;
    }

    .menu-headline {
        margin: 0;
        position: absolute;
        font-size: 32px;
    }

    .menu-box-underline {
        font-size: 16px;
    }

    .menu-bg {
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .menu-underline {
        font-size: 32px;
        color: white;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        padding-bottom: 12px;
        padding-top: 12px;
        background-color: var(--primary-color);
        width: stretch;
    }

    .menu-box {
        display: flex;
        flex-direction: column;
        margin: 16px;
        padding: 8px;
        width: auto;
    }

    .menu-info-box {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .underline {
        font-size: 12px;
        padding-inline: 0;
        margin: 0;
        padding-top: 16px;
    }

    .menu-box-head {
        font-size: 23px;
        font-weight: 600;
    }

    .add-box {
        width: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .mobile-nav-bar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgba(54, 53, 52, 1);
        width: stretch;
        height: 80px;
    }

    .mobile-nav-icon {
        height: 24px;
        width: 24px;
    }

    .position-sticky {
        position: sticky;
        bottom: 0;
        width: stretch;
    }

    .display-none {
        display: block;
    }

    .hide-quantity {
        display: none;
    }

    footer {
        margin-top: 40px;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    .badge {
        right: -11px;
    }
}

@media (max-width: 350px) {
    .display {
        font-size: 26px;
        padding-bottom: 8px;
    }

    .total-table {
        padding-inline: 15px;
    }

    .buy-btn {
        border-radius: 0px;
    }

    .basket-food-box {
        border-radius: 0px;
    }
}

@media (min-height: 1000px) {
    .basket-layout {
        top: 20%;
    }
}

@media (max-height: 800px) {
    .basket-layout {
        top: 0;
        height: 513px;
    }
}